.clock {
  background-color: #333333;
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -70px;
}

.clock-time,
.clock-ampm {
  font-family: sans-serif;
  font-size: 30px;
  color: #eeeeee;
}
.clock-time {
  font-size: 48px;
}
body {
  background-color: black;
}
